@use '../../abstracts/colors';

.main {
    display: flex;
    align-items: center;
    
    height: 68rem;
    background: colors.$boxColor2;
    margin: 4rem;
    border-radius: 0.25rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 2rem;
    &__afleveringen {
        width: 50%;
        height: 100%;
        gap: 2rem;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        
    }

    &__aflevering {
        width: 48%;
        height: 48%;
        background: white;
        border-radius: 0.25rem;
        position: relative;
        transition: 0.2s ;
        &--figure {
            width: 100%;
            height: 100%;
            position: absolute;
            filter: blur(0.15rem);
            transition: 0.2s ;
            &:hover{
                filter: blur(0);
            }
        }

        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
 
        }

        &--datum{
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &--title{
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            font-size: 150%;
        }



        &:hover{
            transform: scale(1.05);
          
            cursor: pointer;
        }
    }
}

